---
- name: "Install podman, docker-cli and podman-compose."
  ansible.builtin.apt:
    name:
      - podman
      - podman-compose
      - docker-cli
    update_cache: true

- name: "Allow unprivileged ports binding."
  when: calopsys_podman_unprivileged_port_start is defined
  ansible.posix.sysctl:
    name: "net.ipv4.ip_unprivileged_port_start"
    value: "{{ calopsys_podman_unprivileged_port_start }}"
    sysctl_set: true
    sysctl_file: "/etc/sysctl.d/99-podman.conf"
    state: present
